# Dependencies
node_modules/

# Build output
dist/

# Test files
coverage/
*.test.ts

# Dev files
.git
.gitignore
.env*
local.settings.json
*.md
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

